.form-floating > .form-control {
  padding: 0.5rem 0.7rem !important;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(2.2rem + 2px) !important;
  line-height: 0.3;
}
.form-floating > label {
  padding: 0.5rem 0.7rem !important;
  color: #999;
  font-size: 13px;
}

/**
Dropdown floating Label
*/
/* FloatingLabelDropdown.css */
.floating-label-select {
  position: relative;
}

.floating-label {
  position: absolute;
  top: 0.9rem;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  pointer-events: none;
  color: #9e9e9e;
}

.floating-label-focused {
  top: 0px !important;
  font-size: 10px !important;
  font-weight: bold;
  color: #9a9a9a !important;
  background-color: #fff !important;
  padding: 2px !important;
  z-index: 1;
}

.floating-label-select .react-select__placeholder {
  display: none;
}
