.card-timeline {
  .timeline {
    h6 {
      i {
        margin-right: 4px;
      }
    }
  }
}

.sidebar[data-active-color="info"] .nav li.active > a,
.sidebar[data-active-color="info"] .nav li.active > a i,
.sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"],
.sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] i,
.sidebar[data-active-color="info"]
  .nav
  li.active
  > a[data-toggle="collapse"]
  ~ div
  > ul
  > li.active
  .sidebar-mini-icon,
.sidebar[data-active-color="info"]
  .nav
  li.active
  > a[data-toggle="collapse"]
  ~ div
  > ul
  > li.active
  > a,
.off-canvas-sidebar[data-active-color="info"] .nav li.active > a,
.off-canvas-sidebar[data-active-color="info"] .nav li.active > a i,
.off-canvas-sidebar[data-active-color="info"]
  .nav
  li.active
  > a[data-toggle="collapse"],
.off-canvas-sidebar[data-active-color="info"]
  .nav
  li.active
  > a[data-toggle="collapse"]
  i,
.off-canvas-sidebar[data-active-color="info"]
  .nav
  li.active
  > a[data-toggle="collapse"]
  ~ div
  > ul
  > li.active
  .sidebar-mini-icon,
.off-canvas-sidebar[data-active-color="info"]
  .nav
  li.active
  > a[data-toggle="collapse"]
  ~ div
  > ul
  > li.active
  > a {
  color: #52cbce !important;
}

.full-page-background {
  background-image: url('assets/img/bg/bg.png');
}