.pagination-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Reduced margin */
}

.pagination-top .-pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pagination-top .-previous,
.pagination-top .-next {
  flex: 1; /* Allow buttons to take up equal space */
  display: flex;
  justify-content: center;
}

.pagination-top .-center {
  flex: 2; /* Take up two-thirds of the space */
  display: flex;
  justify-content: center;
}

.pagination-top .-btn {
  padding: 5px 10px; /* Reduced padding */
  background-color: rgb(82, 203, 206) !important;
  color: white;
  border: none;
  cursor: pointer;
  flex-grow: 1;
}

.pagination-top .-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.react-select.primary {
  width: 100%;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Light grey for even rows */
}

.table tbody tr:nth-child(odd) {
  background-color: white; /* White for odd rows */
}

.-striped .rt-tbody .rt-tr.-odd {
  background-color: #f2f2f2; /* Light grey for odd rows */
}

.-striped .rt-tbody .rt-tr.-even {
  background-color: #ffffff; /* White for even rows */
}

.-striped .rt-thead .rt-th {
  background-color: #d3d3d3; /* Grey color for headers */
  color: #000; /* Black text color for headers */
  padding: 4px; /* Reduced padding */
  border: 1px solid black; /* Border for header cells */
}

.rt-table {
  width: 100%;
  border-collapse: collapse; /* Ensure borders are collapsed */
}

.rt-th,
.rt-td {
  border: 1px solid black; /* Border for table cells */
  padding: 4px; /* Reduced padding */
}
