.ReactTable {
    .rt-thead {
      .rt-th:nth-child(2) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
    }
    .rt-tbody {
      .rt-td:nth-child(2) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
      }
    }
  }
  